h1 {
    color: blanchedalmond;
}


body {
    background-color: lightblue;
    text-align: center;
}

/*this is id*/
#wizardname {
    font: bold 12px/30px Georgia, serif;
}
/*and a class example!*/
.magic{
    color: tomato;
}


/*.cookie-banner.--visible {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}*/


.cookie-banner-visible {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}
